@import 'variables';
@import 'effectors';
@import 'ui';
@import 'section';

@import 'sections/intro';
@import 'sections/info';
@import 'sections/due';
@import 'sections/pricing';
@import 'sections/benefit';

* {
  font-family: "Spoqa Han Sans";
}

body {
  background-color: #0f2b79;
}

.extended {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
