@import 'variables';
@import 'effectors';
@import 'ui';
@import 'section';

@import 'sections/intro';
@import 'sections/info';
@import 'sections/due';
@import 'sections/pricing';
@import 'sections/benefit';

* {
  font-family: "Spoqa Han Sans";
}

body {
  background-color: #19104a;
  transition: background-color 1.1s $easeOutCubic;
  &.section1 {
    background-color: #19104a;
    &.phase-2 {
      background-color: #5449c6;
      transition: background-color 1.1s $easeOutCubic 1s;
    }
  }
  &.section2 {
    background-color: #0f2b79;
    &.feconf2017 {
      background-color: #27119c;
    }
    &.feconf2018 {
      background-color: #0d273a;
    }
  }
  &.section3 {
    background-color: #004264;
  }
  &.section4 {
    background-color: #002677;
  }
  &.section5 {
    &.diamond {
      background-color: #0a6ab5;
    }
    &.platinum {
      background-color: #351774;
    }
    &.gold {
      background-color: #001378;
    }
  }
}

.extended {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
