@import '~styles/variable';
@import '~styles/mixin';

.HomeSpeakers {
  position: relative;
  margin-top: 120px;
  .SpeakerList {
    margin-top: 60px;
  }
  .ButtonWrap {
    margin-top: 60px;
    text-align: center;
  }
  @include mobile {
    margin-top: 48px;
    .SpeakerList {
      margin-top: 20px;
    }
    .ButtonWrap {
      margin-top: 12px;
    }
  }
}
