@import 'src/styles/variable';

.Sponsor {
  position: relative;
  padding: 24px 0;
  h2 {
    margin: 12px 0;
    font-size: $sub-font-sz;
    font-weight: bold;
  }
  p {
    font-size: $p-font-sz;
    padding: 12px 0;
  }
  .SponsorPrize {
    padding: 24px 0;
    h2 {
      text-align: center;
    }
    .Row {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      .Column {
        width: 150px;
        .Title {
          font-size: 28px;
          margin-bottom: 12px;
        }
        .Desc {
          font-size: 18px;
          text-align: left;
        }
      }
    }
  }
}
