@import '~styles/variable';
@import '~styles/mixin';

.SpeakerDetailModal {
  position: relative;
  width: 100%;
  height: 100%;
  .MobileCloseBtn {
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top: 16px;
    right: 18px;
    opacity: .7;
    display: none;
  }
  .BottomWrap {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 480px;
    background: white;
    overflow: hidden;
    .LeftBg {
      position: absolute;
      top: 0;
      left: 0;
      width: 45%;
      height: 530px;
      background: $fc-main;
      transform: skew(-25deg) translate(-125px, -100%);
      animation: SlideDown .6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
    .LeftWrap {
      position: relative;
      display: flex;
      justify-content: flex-end;
      padding: 80px 223px 0 60px;
      width: 45%;
      height: 100%;
      box-sizing: border-box;
      .ProfileWrap {
        width: 180px;
        color: white;
        text-align: center;
        .ProfileImage {
          position: relative;
          width: 180px;
          height: 180px;
          border-radius: 50%;
          background: #d8d8d8;
          opacity: 0;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
            border-radius: 50%;
          }
        }
        .ProfileTextWrap {
          word-break: keep-all;
          text-align: center;
          .ProfileName {
            font-size: 24px;
            margin: 40px 0 0;
            opacity: 0;
          }
          .ProfileInfo {
            display: inline-block;
            font-size: 16px;
            margin-top: 14px;
            opacity: 0;
            color: white;
          }
        }
        .ProfileSnsWrap {
          margin-top: 20px;
          opacity: 0;
          a {
            display: inline-block;
            img {
              width: 20px;
            }
          }
        }
      }
    }
    .RightWrap {
      position: relative;
      width: 55%;
      max-width: 570px;
      .NavWrap {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 40px;
        height: 100px;
        box-sizing: border-box;
        a {
          opacity: 0;
          font-size: 14px;
          color: #060113;
        }
      }
      .ProfileWrap {
        padding: 100px 40px 0 0;
        text-align: right;
        .ProfileDesc {
          font-size: 14px;
          line-height: 19px;
          color: #312d3e;
          word-break: keep-all;
          opacity: 0;
        }
        .ProfileTarget {
          font-size: 12px;
          margin-top: 12px;
          word-break: keep-all;
          opacity: 0;
        }
        .TrackTime {
          margin-top: 24px;
          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          color: #230462;
          opacity: 0;
        }
        .TrackTitle {
          margin-top: 16px;
          font-size: 32px;
          font-weight: 700;
          color: $fc-black;
          word-break: keep-all;
          opacity: 0;
        }
      }
    }
  }
  &.rendered {
    .BottomWrap {
      .LeftWrap {
        .ProfileWrap {
          .ProfileImage {
            animation: SlideUpFadeIn20 .8s .3s $easeOutCirc forwards;
          }
          .ProfileTextWrap {
            .ProfileName {
              animation: SlideUpFadeIn20 .6s .4s $easeOutCirc forwards;
            }
            .ProfileInfo {
              animation: SlideUpFadeIn20 .6s .5s $easeOutCirc forwards;
            }
          }
          .ProfileSnsWrap {
            animation: SlideUpFadeIn20 .6s .6s $easeOutCirc forwards;
          }
        }
      }
      .RightWrap {
        .NavWrap {
          a {
            animation: SlideUpFadeIn20 .5s .6s $easeOutCirc forwards;
          }
        }
        .ProfileWrap {
          .ProfileDesc {
            animation: SlideRightFadeIn20 .5s .7s $easeOutCirc forwards;
          }
          .ProfileTarget {
            animation: SlideRightFadeIn20 .5s .8s $easeOutCirc forwards;
          }
          .TrackTime {
            animation: SlideRightFadeIn20 .5s .9s $easeOutCirc forwards;
          }
          .TrackTitle {
            animation: SlideRightFadeIn20 .5s 1s $easeOutCirc forwards;
          }
        }
      }
    }
  }
  @include tablet {
    .BottomWrap {
      .LeftWrap {
        padding: 80px 223px 0 20px;
        .ProfileWrap {
          width: 90px;
          .ProfileImage {
            width: 90px;
            height: 90px;
          }
          .ProfileName {
            font-size: 18px;
          }
          .ProfileInfo {
            font-size: 13px;
          }
        }
      }
      .RightWrap {
        .NavWrap {
          padding: 0 20px;
        }
        .ProfileWrap {
          padding: 120px 20px 0 0;
          text-align: right;
          .TrackTitle {
            font-size: 24px;
          }
        }
      }
    }
  }
  @include mobile {
    .MobileCloseBtn {
      display: flex;
    }
    .BottomWrap {
      display: block;
      padding: 32px 24px;
      height: auto;
      box-sizing: border-box;
      .LeftBg {
        display: none;
        background: #e7e7e7;
        transform: skew(-25deg);
        animation: SlideDownMobile .6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
      .LeftWrap {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        height: auto;
        .ProfileWrap {
          display: flex;
          text-align: left;
          width: auto;
          .ProfileImage {
            width: 72px;
            height: 72px;
          }
          .ProfileTextWrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;
            color: #312d3e;
            .ProfileName {
              font-size: 14px;
              margin: 0;
            }
            .ProfileInfo {
              font-size: 14px;
              margin-top: 6px;
              color: #312d3e;
            }
          }
          .ProfileSnsWrap {
            display: flex;
            align-items: center;
            margin-top: 0;
            margin-left: 20px;
          }
        }
      }
      .RightWrap {
        width: auto;
        margin-top: 24px;
        .NavWrap {
          display: none;
        }
        .ProfileWrap {
          padding: 0;
          text-align: left;
          .ProfileDesc {
            line-height: 20px;
          }
          .TrackTime {
            margin-top: 32px;
            font-size: 13px;
          }
          .TrackTitle {
            margin-top: 12px;
            font-size: 20px;
          }
        }
      }
    }
  }
  @include small {
    .BottomWrap {
      .LeftWrap {
        .ProfileWrap {
          .ProfileImage {
            width: 60px;
            height: 60px;
          }
          .ProfileTextWrap {
            .ProfileName {
              font-size: 12px;
            }
            .ProfileInfo {
              font-size: 12px;
            }
          }
          .ProfileSnsWrap {
            a {
              display: inline-block;
              img {
                width: 16px;
              }
            }
          }
        }
      }
      .RightWrap {
        margin-top: 14px;
        .ProfileWrap {
          .ProfileDesc {
            line-height: 17px;
          }
          .TrackTime {
            margin-top: 12px;
            font-size: 12px;
          }
          .TrackTitle {
            margin-top: 12px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@keyframes SlideUp {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

@keyframes SlideDown {
  0% { transform: skew(-25deg) translate(-125px, -100%); }
  100% { transform: skew(-25deg) translate(-125px, 0); }
}

@keyframes SlideDownMobile {
  0% { transform: skew(-25deg) translate(-125px, -100%); }
  100% { transform: skew(-25deg) translate(-125px, 0); }
}

@keyframes SlideUpFadeIn20 {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes SlideRightFadeIn20 {
  0% {
    opacity: 0;
    transform: translateX(-12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
