@import 'src/styles/variable';

.Hero {
  position: relative;
  padding: 24px 0;
  h1 {
    margin-bottom: 12px;
    font-size: $title-font-sz;
    font-weight: bold;
  }
  p {
    font-size: $p-font-sz;
    padding: 12px 0;
  }
}
