.SpeakersPage {
  position: relative;
  margin-top: 60px;
  .TitleWrap {
    font-weight: 700;
    .Year {
      font-size: 21px;
      color: #ff5d00;
    }
    .Title {
      font-size: 48px;
      color: #060113;
    }
  }
  .SpeakerList {
    margin-top: 60px;
  }
}
