$tablet: 1024px;
$mobile: 720px;
$small: 374px;

@mixin tablet {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin small {
  @media (max-width: $small) {
    @content;
  }
}
