@import '~styles/mixin';

.SpeakerBrief {
  display: flex;
  flex-direction: column;
  width: 180px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #312d3e;
  .ProfileImage {
    position: relative;
    font-size: 0;
    height: 180px;
    margin-bottom: 24px;
    border-radius: 50%;
    background: #d8d8d8;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  .Name {
    font-weight: 700;
  }
  @include tablet {
    width: 140px;
    .ProfileImage {
      height: 140px;
    }
  }
}
