@import '~styles/variable';

.ConventionMap {
  max-width: 600px;
  min-height: 600px;
  .ButtonWrap {
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    a {
      font-size: 18px;
      font-weight: 700;
      padding: 8px 12px;
      color: $fc-black;
    }
    a.active {
      color: $fc-main;
    }
  }
}
