@import '~styles/variable';
@import '~styles/mixin';

.ConventionMap {
  max-width: 600px;
  min-height: 600px;
  .ButtonWrap {
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    a {
      font-size: 18px;
      font-weight: 700;
      padding: 8px 12px;
      color: $fc-black;
    }
    a.active {
      color: $fc-main;
    }
  }
  .CanvasWrap {
    position: relative;
    padding-bottom: 100%;
    max-width: 600px;
    & > canvas {
      width: 100%;
    }
  }
  @include mobile {
    min-height: 280px;
    .ButtonWrap {
      padding: 12px 0;
      a {
        font-size: 13px;
        font-weight: 400;
        padding: 3px 4px;
      }
    }
  }
}
