.Viewable {
  transform: translate3d(0, 70px, 0);
  transition: transform .9s cubic-bezier(.27, .85, .46, 1), opacity 1.2s;
  opacity: .01;
  &.appear {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
