$first-bg: black;
$first-color: white;
$after-bg: white;
$after-color: black;

.Home {
  position: relative;
  padding: 36px 0;
  background: $first-bg;
  color: $first-color;
  transition: background .6s ease-in, color .6s ease-in;
  a {
    color: $first-color;
    transition: color .6s ease-in;
  }
  &.animate {
    background: $after-bg;
    color: $after-color;
    a {
      color: $after-color;
    }
  }
}
