@import '~styles/variable';
@import '~styles/mixin';

.TrackItem {
  position: relative;
  display: flex;
  align-items: center;
  height: 120px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &.isMain {
    border-right: 1px solid $fc-main;
    .Info {
      position: relative;
      .Name {
        padding-right: 0;
        padding-left: 38px;
      }
      .TrackName {
        padding-right: 0;
        padding-left: 20px;
        text-align: right;
      }
    }
  }
  &:not(.isMain) {
    display: flex;
    justify-content: flex-end;
  }
  .Time {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    width: 120px;
    height: 20px;
    padding: 11px 0;
    color: $fc-main;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background: white;
    transform: translateX(50%);
  }
  .Info {
    display: flex;
    .Name {
      display: flex;
      align-items: center;
      padding-right: 38px;
      flex-shrink: 0;
      font-size: 16px;
      color: #312d3e;
    }
    .TrackName {
      width: 265px;
      padding-right: 20px;
      text-align: left;
      box-sizing: border-box;
      font-size: 16px;
      font-weight: 700;
      color: $fc-black;
      word-break: keep-all;
    }
  }
  .Mobile {
    display: none;
    font-size: 14px;
    .Name {
      display: inline-block;
      margin-left: 12px;
      color: #312d3e;
    }
    .TrackName {
      margin-top: 4px;
      word-break: keep-all;
      text-align: left;
      color: $fc-black;
      font-weight: 700;
    }
  }
  @include tablet {
    &.isMain {
      .Info {
        .Name {
          padding-left: 28px;
        }
        .TrackName {
          padding-right: 0;
          padding-left: 12px;
          text-align: right;
        }
      }
    }
    .Info {
      .Name {
        padding-right: 28px;
      }
      .TrackName {
        width: 195px;
        padding-right: 12px;
      }
    }
  }
  @include mobile {
    height: auto;
    &.isMain {
      border-right: none;
    }
    &:not(.isMain) {
      display: flex;
      justify-content: flex-start;
    }
    &:not(:last-child) {
      margin-bottom: 28px;
    }
    .Info {
      display: none;
    }
    .Time {
      display: none;
    }
    .Mobile {
      display: flex;
      flex-direction: column;
      .MobileTime {
        position: relative;
        color: $fc-main;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
