@import '~styles/mixin';

.RowContainer {
  position: relative;
  .Row {
    display: flex;
    justify-content: space-between;
    &:not(:first-child) {
      margin-top: 60px;
    }
    & > div {
      flex-shrink: 2;
    }
  }
  @include mobile {
    .Row {
      flex-direction: column;
      &:not(:first-child) {
        margin-top: 0;
      }
    }
  }
}
