#info-section {
  color: white;
  text-align: center;
  .page {
    position: relative;
    opacity: 1;
    transition: opacity .4s $easeOutCubic .3s;
    h1, p, .link {
      opacity: 0;
    }
    h1 {
      margin: 0 0 24px;
    }
    p {
      margin: 0 0 32px;
    }
    a {
      color: white;
    }
    .link:first-child {
      margin-bottom: 16px;
    }
    &.hide {
      opacity: 0;
      transition: opacity .4s $easeOutCubic;
    }
  }
  .ui-wrap {
    margin: auto;
    pointer-events: none;
    opacity: 0;
    transition: opacity .4s $easeOutCubic;
    .close-btn {
      position: absolute;
      left: 130px;
      top: 130px;
      display: block;
      width: 35px;
      height: 35px;
      z-index: 2;
      svg {
        fill: white;
        opacity: .5;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1, p {
        margin: 0;
        opacity: 0;
      }
      p {
        margin-bottom: 16px;
      }
      a {
        color: white;
      }
      h1 {
        margin-bottom: 24px;
      }
      div:nth-child(4) {
        .row, span {
          opacity: 0;
        }
        span {
          display: inline-block;
          margin-bottom: 24px;
        }
      }
      .modal-sponsor {
        .sponsors-wrap {
          margin-bottom: 15px;
          .row {
            display: flex;
            justify-content: space-between;
            margin: 0 auto 36px auto;
            max-width: 580px;
            img {
              width: 102px;
              height: 68px;
            }
          }
        }
      }
      &.active {
        & > h1 {
          animation: fadeInUp20 .9s $easeOutCubic .1s forwards;
        }
        .desc > p:nth-child(1) {
          animation: fadeInUp20 .9s $easeOutCubic .2s forwards;
        }
        .desc > p:nth-child(2) {
          animation: fadeInUp20 .9s $easeOutCubic .3s forwards;
        }
        .desc > p:nth-child(3) {
          animation: fadeInUp20 .9s $easeOutCubic .4s forwards;
        }
        .desc > div:nth-child(4) {
          p {
            opacity: 1;
          }
          span {
            animation: fadeInUp20 .9s $easeOutCubic .5s forwards;
          }
          .row:nth-child(1) {
            animation: fadeInUp20 .9s $easeOutCubic .6s forwards;
          }
          .row:nth-child(2) {
            animation: fadeInUp20 .9s $easeOutCubic .7s forwards;
          }
        }
        .desc > p:nth-child(5) {
          animation: fadeInUp20 .9s $easeOutCubic .8s forwards;
        }
      }
    }
    &.open {
      opacity: 1;
      pointer-events: all;
      transition: opacity .4s $easeOutCubic .3s;
    }
  }
  &.loaded {
    .page {
      h1 {
        animation: fadeInUp20 .9s $easeOutCubic forwards;
      }
      p {
        animation: fadeInUp20 .9s $easeOutCubic .1s forwards;
      }
      .link:nth-child(1) {
        animation: fadeInUp20 .9s $easeOutCubic .2s forwards;
      }
      .link:nth-child(2) {
        animation: fadeInUp20 .9s $easeOutCubic .3s forwards;
      }
    }
  }
  @media (max-width: $small-device) {
    .ui-wrap {
      .close-btn {
        left: 24px;
        top: 24px;
        width: 24px;
        height: 24px;
      }
      .content {
        .modal-sponsor {
          .sponsors-wrap {
            .row {
              max-width: 380px;
              margin: 0 auto 24px auto;
              img {
                width: 76px;
                height: 51px;
              }
              @media (max-width: $mobile-device) {
                max-width: 350px;
              }
            }
          }
        }
      }
    }
  }
}
