#sponsor-section {
  text-align: center;
  color: white;
  h1 {
    margin: 0 0 36px;
  }
  h2 {
    font-weight: 400;
    margin: 0;
    &:nth-child(2) {
      margin: 16px 0;
    }
  }
  p {
    margin-top: 24px;
  }
  h1, h2, p {
    opacity: 0;
  }
  &.loaded {
    h1 {
      animation: fadeInUp20 .9s $easeOutCubic forwards;
    }
    h2:nth-child(1) {
      animation: fadeInUp20 .9s $easeOutCubic .1s forwards;
    }
    h2:nth-child(2) {
      animation: fadeInUp20 .9s $easeOutCubic .2s forwards;
    }
    h2:nth-child(3) {
      animation: fadeInUp20 .9s $easeOutCubic .3s forwards;
    }
    p {
      animation: fadeInUp20 .9s $easeOutCubic .4s forwards;
    }
  }
}
