#sponsor-section {
  text-align: center;
  color: white;
  font-size: 0;
  h1 {
    margin: 0 0 80px;
  }
  .sponsor-list {
    margin: 0 0 80px;
    a {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 57px;
      }
      img {
        width: 102px;
        height: 68px;
      }
    }
  }
  h1, p, .sponsor-list {
    opacity: 0;
  }
  &.loaded {
    h1 {
      animation: fadeInUp20 .9s $easeOutCubic forwards;
    }
    .sponsor-list {
      animation: fadeInUp20 .9s $easeOutCubic .1s forwards;
    }
    p {
      animation: fadeInUp20 .9s $easeOutCubic .2s forwards;
    }
  }
}
