@import '~styles/mixin';
@import '~styles/variable';

.Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 60px;
  height: 131px;
  box-sizing: border-box;
  max-width: 1024px;
  img {
    width: 80px;
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    li {
      margin-right: 32px;
      list-style: none;
      font-size: 14px;
      a {
        text-decoration: none;
        color: $fc-black;
        &.active {
          color: $fc-main;
        }
      }
    }
  }
  .Hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    & > div {
      width: 20px;
      height: 4px;
      background: $fc-main;
      &:not(:last-child) {
        margin-bottom: 2px;
      }
    }
  }
  @include tablet {
    padding: 0 30px;
  }
  @include mobile {
    padding: 0 24px;
    height: 60px;
    img {
      width: 40px;
    }
  }
}
