@import '~styles/variable';
@import '~styles/mixin';

.Footer {
  margin-top: 86px;
  border-top: 2px solid #efecec;
  .Content {
    display: flex;
    justify-content: space-between;
    padding: 33px 60px 50px 60px;
    box-sizing: border-box;
    color: $fc-black;
    font-size: 12px;
    .SNS {
      .Title {
        margin-bottom: 8px;
      }
    }
    .Links {
      a {
        display: inline-block;
        margin-right: 10px;
        font-weight: 700;
      }
    }
  }
  @include tablet {
    .Content {
      padding: 33px 30px 50px 30px;
    }
  }
  @include mobile {
    margin-top: 60px;
    .Content {
      flex-direction: column;
      padding: 24px;
      margin-bottom: 84px;
      .Info {
        .Links {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          & >  a:first-child {
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}
