@import '~styles/variable';
@import '~styles/mixin';

.CoC {
  margin-top: 40px;
  h3 {
    font-size: 21px;
    font-weight: 700;
    color: $fc-main;
  }
  p {
    margin: 16px 0 32px 0;
    line-height: 24px;
  }
  @include mobile {
    margin-top: 32px;
    h3 {
      font-size: 13px;
    }
    p {
      margin-top: 12px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
