@import '~styles/variable';
@import '~styles/mixin';

.Hero {
  position: relative;
  width: 600px;
  margin: 0 auto;
  .TextWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 300px;
    margin: 38.5% auto 0 auto;
    .Title {
      h3 {
        font-size: 34px;
        line-height: 37px;
        letter-spacing: -1px;
        font-weight: 400;
      }
      h2 {
        position: relative;
        height: 52px;
        font-size: 46px;
        font-weight: 700;
        margin-top: 16px;
        font-style: italic;
        span {
          display: inline-block;
          position: absolute;
          top: 0;
          opacity: 0;
        }
        span:nth-child(1) {
          animation: WordAnimation 12s cubic-bezier(.175,.885,.32,1.275) 0s infinite;;
        }
        span:nth-child(2) {
          animation: WordAnimation 12s cubic-bezier(.175,.885,.32,1.275) 3s infinite;;
        }
        span:nth-child(3) {
          animation: WordAnimation 12s cubic-bezier(.175,.885,.32,1.275) 6s infinite;;
        }
        span:nth-child(4) {
          animation: WordAnimation 12s cubic-bezier(.175,.885,.32,1.275) 9s infinite;;
        }
        span:before {
          content: '';
          position: absolute;
          top: 0;
          left: 22px;
          width: 45%;
          height: 100%;
          z-index: -1;
          background: #2fffcb;
          transform: skew(-25deg);
        }
      }
    }
    .Info {
      color: $fc-main;
      font-size: 14px;
      font-weight: 700;
      margin-top: 23.2%;
      & > a {
        display: inline-block;
        color: $fc-main;
        margin-top: 4px;
      }
    }
    & > a {
      margin-top: 10.6%;
    }
  }
  .Wrap {
    position: relative;
    padding-bottom: 118%;
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  @include mobile {
    width: auto;
    padding: 0 24px;
    margin-top: 32px;
    .Wrap {
      padding-bottom: 0;
      svg {
        display: none;
      }
    }
    .TextWrap {
      position: relative;
      width: 100%;
      margin: 0;
      .Title {
        h3 {
          font-size: 24px;
        }
        h2 {
          font-size: 32px;
          height: 38px;
        }
        span:before {
          left: 15px;
        }
      }
      .Info {
        margin-top: 30px;
        font-size: 12px;
      }
      & > a {
        margin-top: 32px;
      }
    }
  }
}

@keyframes WordAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  2% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  14% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  16% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  17% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
