@import '~styles/variable';
@import '~styles/mixin';

.Hero {
  position: relative;
  width: 600px;
  margin: 0 auto;
  .TextWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 300px;
    margin: 38.5% auto 0 auto;
    .Title {
      h3 {
        font-size: 34px;
        line-height: 37px;
        letter-spacing: -1px;
        font-weight: 400;
      }
      h2 {
        font-size: 46px;
        font-weight: 700;
        margin-top: 16px;
        font-style: italic;
        span {
          display: inline-block;
        }
      }
    }
    .Info {
      color: $fc-main;
      font-size: 14px;
      font-weight: 700;
      margin-top: 23.2%;
      & > a {
        display: inline-block;
        color: $fc-main;
        margin-top: 4px;
      }
    }
    & > a {
      margin-top: 10.6%;
    }
  }
  .Wrap {
    position: relative;
    padding-bottom: 118%;
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  @include mobile {
    width: auto;
    padding: 0 24px;
    margin-top: 32px;
    .Wrap {
      padding-bottom: 0;
      svg {
        display: none;
      }
    }
    .TextWrap {
      position: relative;
      width: 100%;
      margin: 0;
      .Title {
        h3 {
          font-size: 24px;
        }
        h2 {
          font-size: 32px;
        }
      }
      .Info {
        margin-top: 60px;
        font-size: 12px;
      }
      & > a {
        margin-top: 32px;
      }
    }
  }
}
