@import '~styles/variable';

.Hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  .TextWrap {
    .Title {
      padding: 142px 0 80px 0;
      color: $fc-black;
      h3 {
        font-size: 36px;
        line-height: 37px;
        font-weight: 400;
      }
      h2 {
        font-size: 48px;
        font-weight: 700;
        margin-top: 16px;
        font-style: italic;
        span {
          display: inline-block;
        }
      }
    }
    .Info {
      color: $fc-main;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 32px;
      & > a {
        display: inline-block;
        color: $fc-main;
        margin-top: 4px;
      }
    }
  }
  .ImageWrap {
    width: 530px;
    height: 609px;
    background: rgba(216, 216, 216, .4);
  }
}
